.card {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
  }

  &__text {
    color: grey;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: min-content;
    text-decoration: none;
  }

  &__name {
    color: black;
  }

  &__img {
    height: auto;
    width: 300px;
    box-shadow: 7px 7px 15px #4b433e;
    border-radius: 20px;
  }

  &__message {
    font-size: 50px;
    text-align: center;
    width: max-content;
    margin-left: 100px;
  }
}
