.detail {
  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: gray;
    height: 90vh;
    margin-bottom: 40px;
  }
  &__img {
    width: 20vw;
    box-shadow: 7px 7px 15px #4b433e;
  }

  &__name {
    margin-top: 10px;
    width: 60vw;
    text-align: center;
  }
  &__quote {
    color: gray;
    padding-bottom: 20px;
  }
}
